@charset "utf-8";
@import url(../../css/index/contents.css);
@import url(../../css/commons/grid.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

#wrap {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
    width: 100%;
    height: auto;
    position: relative;
}

.notification {
    width: 100%;
    min-height: 30px;
    max-height: 60px;
    background-color: black;
}

p.noti {
    text-align: center;
    color: white;
    line-height: 30px;
}

p.noti a {
    color: #ff89a1;
    text-decoration: underline;
}

.menus {
    width: 100%;
    height: 100px;
    background: url(../../img/commons/header.png) no-repeat 50%;
    background-size: cover;
    position: relative;
}

.leftMenu {
    color: white;
    text-align: center;
}

.leftMenu p {
    line-height: 100px;
    font-size: 1.2em;
}

.leftMenu p.store a {
    color: white;
}

.mainmenu-item-wrapper {
    justify-content: space-evenly;
    height: 100px;
}

.mainmenu-item {
    text-align: center;
    line-height: 100px;
    max-height: 100px;
    justify-content: space-between;
    padding: 0 30px;
}

.mainmenu-item a {
    color: white;
}

.logo {
    background: url(../../img/commons/benefit-logo2.png) no-repeat 50%;
    height: 100px;
}

.logo:hover {
    cursor: pointer;
}

.rightMenu {
    line-height: 100px;
}

.rightMenu a {
    width: 33.333%;
    color: white;
    font-size: 1.3em;
}

.subMenu {
    background: transparent;
    position: absolute;
    top: 130px;
    left: 0px;
    width: 100%;
    height: 340px
}

.subMenu-inner {
    width: 950px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #8885;
    box-sizing: border-box;
    background: white;
}

.subMenu-inner > ul {
    display: flex;
    justify-content: space-evenly;
}

.subMenu-inner a {
    color: black;
}

.categoryName {
    line-height: 66px;
}

.categoryName > a {
    color: #ff91a7;
}

.productName {
    color: black;
    height: 40px;
}

.hidden {
    display: none;
}

.hamburger {
    display: none;
}

.hamburgerMenu {
    left: -50vw;
    width: 50vw;
    height: 100vh;
    z-index: 2;
    background-color: aliceblue;
    display:none;
}

@media only screen and (max-width:1399px) {
    .hamburger {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100px;
        width: 100px;
        z-index: 1;
        font-size: 1.8em;
        color: white;
        display: block;
    }

    .hamburger > i {
        position: absolute;
        top: 35px;
        left: 35px;
    }

    .hamburgerMenu {
        display: block;
        position: fixed;
        transition: left 0.5s;
    }
    .hamburgerMenu.show{
        left:0;
    }
    .hamburgerMenu > .closeBtn{
        font-size: 1.8em;
        position: absolute;
        right:10px;
        top:10px;
    }
}
