@charset "utf-8";
@import url(../../css/commons/header.css);
@import url(../../css/commons/footer.css);
@import url(../../css/index/contents.css);
@import url(../../css/commons/grid.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

#wrap{
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}





























