@charset "utf-8";
@import url(../../css/commons/header.css);
@import url(../../css/index/contents.css);
@import url(../../css/commons/grid.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

#wrap {
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.footer {
    background: #ff89a1;
    min-height: 230px;
}

.mainWrapper {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.subWrapper {
    min-height: 230px;
    width: 20%;
    box-sizing: border-box;
    display: flex;
}

.sub-mfcon {
    height: auto;
    box-sizing: border-box;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.3px;
    margin: 25px auto;
    float: left;
    color: #fff;
    width: 100%;
}

.sub-mfcon::after {
    content: "";
    display: block;
    clear: both;
}

.sub-mfcon > ul > li {
    padding: 8px 0;
}

.sub-mfcon > ul > li.mtitle1 {
    font-size: 18px;
    text-align: left;
    color: #fff;
}

.sub-mfcon > ul > li input[type=email] {
    width: 100%;
    height: 30px;
    border: 0px solid;
    background: none;
    border-bottom: 1px solid #fff8;
    color: #fff;
    /*display: block;*/
}

.sub-mfcon > ul > li input[type=email]:focus {
    outline: none;
}

.sub-mfcon > ul > li input[type=email]::placeholder {
    color: #fff;
    font-size: 15px;
}

.sub-mfcon > ul > li input:hover {
    color: #fff;
}

.sub-mfcon > ul > li.sns {
    text-align: left;
    font-size: 18px;
    margin: 20px 0 0;
}

.sub-mfcon > ul > li.snsIcon > ul > li {
    float: left;
    padding-right: 7%;
}

a {
    color: inherit;
}

/* 고객 서비스부터 채용 */
.sub-mfcon > ul > li.M {
    width: 70%;
    border-bottom: 1px solid #fff8;
    margin: 0 auto;
}

.sub-mfcon > ul > li h1.mtitle {
    font-size: 18px;
}

.sub-mfcon > ul > li {
    margin: 6px 0;
}

.sub-mfcon > ul > li a {
    color: #fff;
    font-size: 15px;

}

.sub-mfcon > ul .sub > ul {
    width: 100%;

}

.sub-mfcon > ul .sub > ul.sUl {
    width: 50%;
    float: left;
}

.sub-mfcon > ul .sub > ul.sUl > li {
    padding: 11.5px 0;
}

.sub-mfcon > ul .sub > ul.sUl > li a {
    color: #fff;
    font-size: 15px;
}

/* lfcon 시작 */
.lfcon {
    width: 100%;
    max-width: 1400px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    box-sizing: border-box;
}

.lfcon .language {
    width: 120px;
    border: 0px solid #00f;
    box-sizing: border-box;
    float: right;
}

.lfcon .language::after {
    content: "";
    display: block;
    clear: both;
}

.lfcon .language span {
    width: 30px;
    display: block;
    float: left;
    border: 0px solid;
    box-sizing: border-box;
}

.lfcon .language img {
    width: 100%;
    height: auto;
    display: block;
}

.lfcon .language select {
    width: 80px;
    height: 30px;
    background: #fff6;
    display: block;
    color: #1c1c1c;
    font-size: 14px;
    border: 0;
    float: left;
    margin-left: 10px;
}


/* bfcon */
.bfcon{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: #1c1c1c;
}

.bfcon .inner-bfcon{
    width: 100%;
    margin: 0 auto;
}

.bfcon .inner-bfcon::after{
    content: "";
    display: block;
    clear: both;
}

.bfcon .inner-bfcon .siteMap{
    width: 270px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: 0px solid #fff;
    box-sizing: border-box;
    
}

.bfcon .inner-bfcon .siteMap>ul>li{
    width: 25%;
    float: left;
    text-align: center;
    border: 0px solid;
    box-sizing: border-box;
}

.bfcon .inner-bfcon .siteMap>ul>li a{
    color: #fff;
    font-size: 13px;
    text-align: center;

}

.bfcon .inner-bfcon .copyright{
    width: 300px;
    height: 30px;
    margin: 0 auto;
    text-align: center;
}

.bfcon .inner-bfcon .copyright p{
    letter-spacing: 0.4px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}


/*width:767px 이하*/
@media only screen and (max-width: 768px) {
    .mainWrapper {
        display: block;
        max-width: unset;
        margin: unset;
    }

    .subWrapper {
        width: 100%;
        min-height: 0;
    }

    .sub-mfcon {
        width: 70%;
        min-height: 0;
    }

    .sub-mfcon > ul > li.M {
        width: 100%;
        border-bottom: 1px solid #fff8;
        margin: 0 auto;
    }
    
    .sub-mfcon > ul > li.sns {
        text-align: left;
        font-size: 18px;
        margin: 20px 0 0;
    }
}
